<div class="nested-fields">
  <div class="field">
    <%= f.select :degree, options_for_select(Education.degrees.keys.to_a), {}, class: 'form-control' %>
  </div>
  <div class="field">
    <%= link_to_remove_association f do %>
      <i class="glyphicon glyphicon-minus"></i>
    <% end %>
  </div>
</div>
