<% titulo "Index Painel Administrativo" %>

<%= render "layouts/admin_menu" %>

<div class="container-default">
	
<div class="page-header text-center">
	<h1>Bem-vindo ao painel administrativo</h1>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dolore voluptatum eos suscipit autem? Quaerat, incidunt, accusantium, nemo eaque hic fuga similique maiores laboriosam omnis eius molestias pariatur nisi voluptas.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, consectetur, et, nostrum, facilis pariatur quos in ab distinctio debitis magnam necessitatibus consequuntur molestiae sequi fugiat obcaecati beatae voluptatibus. Perspiciatis, qui.</p>

</div>
