<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou a mudança de senha para sua conta do UI Report. Você pode continuar com a mudança atravez do link abaixo:</p>

<p><%= link_to 'Mude minha senha', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Se esse não for você, apenas ignore esse e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova senha.</p>
