<% titulo "Nova heurística" %>

<%= render "layouts/admin_menu" %>

<div class="container-default">

<div class="page-header text-center">
	<h1>Nova heurística</h1>
</div>

<%= render 'form' %>

<div class="well well-sm">
<%= link_to '<i class="glyphicon glyphicon-chevron-left"></i> Voltar'.html_safe, admin_heuristics_path, :class => 'btn btn-default' %>
</div>

</div>

