<% titulo "F.A.Q" %>


<div class="container-default">
	<div class="page-header">
			<h1>F.A.Q: Perguntas frequentes</h1>
	</div>	

	Tem alguma pergunta sobre o funcionamento do UI Report? Envie para faq@uireport.com.br e responderemos nessa página.
</div>
