<div class="container-default">
  <div class="btn-group btn-group-justified">
  	<a class="btn btn-lg btn-default" disabled="disabled"><span class="glyphicon glyphicon-th"></span> Menu</a>
  	<%= active_link_to "Heurísticas", admin_heuristics_path, :class => 'btn btn-lg btn-default' %>
    <%= active_link_to "Dispositivos", admin_devices_path, :class => 'btn btn-lg btn-default' %>
    <%= active_link_to "Minha conta", edit_user_registration_path, :class => 'btn btn-lg btn-default' %>
  </div>
</div>
